<style>
    .pl {
        position: absolute;
        top:0px;
        bottom:0px;
        display: block;
        padding: 20px;
        width:100%;
        color: var(--c0);
        background-color: var(--c9);
        overflow-y: auto;

    }

    .manuscriptform {
        border-top: 1px solid var(--c0);
        border-bottom: 1px solid var(--c0);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .manuscriptform label {
        display: block;
    }


    .manuscriptform select {
        display: inline-block;


    }

    .WordCountTotal {
        padding: 20px;
        margin: 20px;
        text-align: center;
    }

    #ManuscriptWordCount {
        background-color: var(--c7);
        padding: 10px;
        border-radius: 5px;
    }

 

    .welcome {
        height: 50px;
        font-size: 1.2rem;
        background-color: var(--interface-button-background);
        color: var(--interface-button-foreground);
        padding: 10px;
        text-align: center;
    }

    .row {
        margin-bottom: 10px;
    }
</style>
<div class="welcome">Welcome to Wavemaker Version 3.0</div>
<div class="pl">

    <div class="container">
            <div class="row justify-content-md-center">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h6>Title of this project 
                                </h6>
                            </div>
                        </div>
                    </div>
            </div>

        <div class="row justify-content-md-center">
            <div class="col-12 ">
                <div class="row ">
                    <div class="col-12 col-md-8">
                        <input class="wavemaker-form" value="" id="settings_title">
                    </div>
                    <div class="col-12 col-md-4">
                        <button id="settings_title_save" class="btn btn-block  btn-wavemaker"><i class="fa fa-fw fa-save"></i>
                            Save new title</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <label>Total Word Count for Manuscript <strong id="ManuscriptWordCount">0</strong> Words
                        </label>
                    </div>
                </div>
            </div>


        </div>



        <div class="row justify-content-md-center">
            <div class="col-12">

                <div class="manuscriptform">
                    <strong>Manuscript Styling</strong>

                    <div class="row">

                            <div class="col-12 col-md-6"><label>Editor Font</label></div>
                            <div class="col-12 col-md-6">
                                <input id="manuscriptFont" class="wavemaker-form" value="'Halant'" />
                              
        
                            </div>

                        <div class="col-12 col-md-6"><label>Alignment</label></div>
                        <div class="col-12 col-md-6">
                                <select id="manuscriptAlign" class="wavemaker-form">
                                        <option value="left" selected>Align Left</option>
                                        <option value="center">Align Center</option>
                                        <option value="right">Align Right</option>
                                        <option value="justify">Justify</option>
                                    </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">  <label>Font size</label></div>
                        <div class="col-12 col-md-6"><select id="manuscriptFontSize" class="wavemaker-form">
                                <option value="0.8rem">Smallest</option>
                                <option value="0.9rem">Small</option>
                                <option value="1.3rem" selected>Standard</option>
                                <option value="1.4rem">Big</option>
                                <option value="1.5rem">Biggest</option>
                            </select></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6"><label>Line Height</label></div>
                        <div class="col-12 col-md-6"><select id="manuscriptLineHeight" class="wavemaker-form">
                                <option value="1.7rem" selected>Standard Spacing</option>
                                <option value="2rem">Double Spaced</option>
                                <option value="2.5rem">2.5 Spaced</option>
                                <option value="3rem">Triple Spaced</option>
                            </select></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6"><label>Paragraph indentation </label></div>
                        <div class="col-12 col-md-6">  <select id="manuscriptParaIndent" class="wavemaker-form">
                                <option value="20px" selected>Yes</option>
                                <option value="0px">no</option>
                            </select></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6"> <label>Paragraph Spacing</label></div>
                        <div class="col-12 col-md-6">    <select id="manuscriptMarginBottom" class="wavemaker-form">
                                <option value="20px" selected>Standard Spacing</option>
                                <option value="30px">Double Spaced</option>
                                <option value="40px">2.5 Spaced</option>
                                <option value="50px">Triple Spaced</option>
                            </select>
        </div>
                    </div>
                    <div class="row">
                            <div class="col-12 col-md-6"> <label>Manuscript Page Style</label></div>
                            <div class="col-12 col-md-6">    <select id="manuscriptPaperStyle" class="wavemaker-form">
                                    <option value="800px" selected>Page Style</option>
                                    <option value="100%">Full Width</option>
                                </select>
            </div>
                        </div>

                        

                    
                    
                  
                    
                    <div class="row">
                            <div class="col-12 text-right"><button id="ManuscriptSetStyle" class="btn btn-wavemaker "><i class="fa fa-fw fa-save"></i> Save Settings</button></div>
                        
                        </div>
                    
                    
                    
                  
                   
                

                    

                </div>

            </div>
        </div>

    </div>

</div>