<div id="navigation-side-nav" class="interfacehider"></div>
<div id="navigation-tool-bar" class="interfacehider">
  <div id="ProjectHome">
    <svg class="logo" xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="0 0 235 234.3">
      <g id="Layer_x0020_1">
        <g id="_921457168">
          <path class="logo-top"
            d="M194.1 65.8L135.8 7.5c-10.1-10.1-26.5-10.1-36.6 0L41.1 65.7c-3.4 3.4-3.4 8.8 0 12.2l17.6 17.6 11.7 10.9c3.5 3.2 8.8 3.2 12.3 0l23.5-21.7c6.5-6 16.4-6 22.8 0l23.5 21.7c3.5 3.2 8.8 3.2 12.3 0l11.7-10.9L194.1 78c3.3-3.3 3.3-8.8 0-12.2z">
          </path>
          <path class="logo-bottom"
            d="M7.9 135.5l91.3 91.3c10.1 10.1 26.5 10.1 36.6 0l91.3-91.3c15.8-15.8 4.7-20.5-6.9-31.5l-14.3-13.6c-3.4-3.3-8.8-3.2-12.3 0l-23.5 21.7c-6.5 6-16.4 6-22.8 0l-23.5-21.7a9.08 9.08 0 0 0-12.3 0L88 112.1c-6.5 6-16.4 6-22.8 0L41.7 90.4a9.08 9.08 0 0 0-12.3 0l-13.2 12.2c-12.1 11.2-24.8 16.3-8.3 32.9z">
          </path>
        </g>
      </g>
    </svg>
  </div>


  <button class="navigation-tool-bar-button animated tada " id="navigation-toggle"><i
      class="fa fa-fw fa-bars"></i></button>


  <button class="navigation-tool-bar-button navtrigger" data-action="writer" data-container="body" data-trigger="hover"
    data-toggle="popover" data-placement="right" data-content="Writer"><i class="fa fa-fw fa-home"></i></button>

    <button class="navigation-tool-bar-button navtrigger" data-action="search" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Search (beta)"><i class="fa fa-fw fa-search"></i></button>
  <!--
  <button class="navigation-tool-bar-button" data-action="characters" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Characters"><i class="fa fa-fw fa-users"></i></button>

  <button class="navigation-tool-bar-button" data-action="locations" data-container="body"  data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Locations" ><i class="fa fa-fw fa-map-marker"></i></button>
  -->
  <button class="navigation-tool-bar-button navtrigger" data-action="cards" data-container="body" data-trigger="hover"
    data-toggle="popover" data-placement="right" data-content="Database Cards"><i
      class="fa fa-fw fa-database"></i></button>

  <button class="navigation-tool-bar-button navtrigger" data-action="snowflake" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Snowflake Tool"><i
      class="fa fa-fw fa-snowflake-o"></i></button>

  <button class="navigation-tool-bar-button navtrigger" data-action="planningboard" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Planning Board"><i
      class="fa fa-fw fa-columns"></i></button>

  <button class="navigation-tool-bar-button navtrigger" data-action="gridplanner" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Grid Planner"><i
      class="fa fa-fw fa-th"></i></button>


  <button class="navigation-tool-bar-button navtrigger" data-action="mindmap" data-container="body" data-trigger="hover"
    data-toggle="popover" data-placement="right" data-content="Mind Maps"><i
      class='fa fa-fw fa-sitemap fa-rotate-270'></i></button>


  <button class="navigation-tool-bar-button navtrigger" data-action="timeline" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Timeline Tool"><i
      class="fa fa-fw fa-clock-o"></i></button>

  <button class="navigation-tool-bar-button navtrigger" data-action="challenge" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Challenge Mode"><i
      class="fa fa-fw fa-trophy"></i></button>

  <button class="navigation-tool-bar-button navtrigger" data-action="exporting" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Export Document Options"><i
      class="fa fa-fw fa-rocket"></i></button>

      <button id="SyncUpGdrive" class="navigation-tool-bar-button" data-action="exporting" data-container="body"
    data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Google Drive Sync Up"><i
      class="fa fa-fw fa-cloud-upload"></i></button>

  <!--
  <button class="navigation-tool-bar-button navtrigger" data-action="settings" data-container="body"  data-trigger="hover" data-toggle="popover" data-placement="right" data-content="Settings"><i class="fa fa-fw fa-cog"></i></button>
  -->

</div>